/* Main App CSS*/

html {
    margin: 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    margin: 0px;
}

#nav-header {
    background: #000000;
    width: 100%;
    height: 60px;
    margin: 0;
}

.nav-header-logo {
    height:64px;
    margin: -3px 0 0 -2px;
}

.nav-header-play {
    height:50px;
    width:50px;
    padding:5px;
}

#main-content {
    margin:0px;
    height:100%;
    background-image: url('../img/main-bg-texture.jpg');
}

#inner-content {
    height: 100%;
    width: 95%;
    background: url("../img/surround-l.png") repeat-y, url("../img/surround-r.png") repeat-y;
    background-position: left, right;
    margin: 0 auto;
}

#content {
    height: 100%;
    margin: 0px 18px 0 18px;
    background: url("../img/surround-texture.png");
}

#meta-data {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5px;
}

#cd {
    width: 238;
    height: 256;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/cd.png") no-repeat;
    background-size: contain;
}

.albumcover {
    margin: 1px 0px 0px 27px;
    border: 0px;
}

#footer {

}